/* Trees Image - Pexels: https://www.pexels.com/photo/photo-of-trees-in-forest-3801030/ */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/////////////////////////////////////////
// PRIMARY COLORS
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-dark: hsl(0, 0%, 0%);
$color-primary-column-1: hsl(27, 57%, 41%);
$color-primary-column-2: hsl(180, 56%, 24%);
$color-primary-column-3: hsl(120, 57%, 33%);
$color-primary-column-4: hsl(5, 65%, 38%);
$color-primary-overlay-bg: hsla(0, 0%, 0%, 0.8);
$color-primary-overlay-bg-1: hsla(0, 0%, 100%, 0.9);
$color-primary-overlay-bg-2: hsla(0, 0%, 100%, 0.3);
$color-primary-overlay-1: hsla(0, 0%, 0%, 0.4);