h1, h2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px $color-primary-dark;
}

h2 {
  font-size: 1.25rem;
}

.header {
  display: flex;
  justify-content: center;
  border-radius: $border--radius;
  margin: 10px;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

/////////////////////////////////////////
// COLUMNS
.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: $color-primary-overlay-1;
  border-radius: $border--radius;
  overflow-x: hidden;
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
  background-color: $color-primary-column-1;
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
  background-color: $color-primary-column-2;
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
  background-color: $color-primary-column-3;
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
  background-color: $color-primary-column-4;
}

/////////////////////////////////////////
// CUSTOM SCROLLBAR
.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $color-primary-overlay-1;
    border-radius: $border--radius;
    background-color: $color-primary-overlay-bg-2;
    margin-right: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px $color-primary-overlay-1;
    background-color: $color-primary-overlay-bg;
  }
}

/////////////////////////////////////////
// ADD BUTTON GROUP
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;

  &:hover {
    background-color: $color-primary-overlay-bg-1;
    color: $color-primary-dark;
  }

  &:active {
    transform: scale(0.97);
  }
}

.solid {
  display: none;

  &:hover {
    transition: unset;
    filter: brightness(95%);
    color: $color-primary-white;
  }
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $color-primary-overlay-bg-1;
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: $color-primary-white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: $color-primary-dark;
  padding: 10px;

  &:focus {
    outline: none;
  }
}
