h1, h2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px $color-primary-dark;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

/////////////////////////////////////////
// COLUMNS
.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: $color-primary-overlay-1;
}