ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 20px;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/////////////////////////////////////////
// DRAG AND DROP
.over {
  padding: 50px 10px;
}

.drag-item-list {
  min-height: 50px;
}

.drag-item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: $color-primary-overlay-bg;
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: $color-primary-white;
    color: $color-primary-dark;
  }
}
